STUDIOASSISTANT_API_TOKEN=(YOUR_API_TOKEN_HERE)
STUDIO_ASSISTANT_WRITES_ENABLED=true
STUDIO_ASSISTANT_INTERNAL_REQUEST_WRITES_ENABLED=true
STUDIO_ASSISTANT_SESSION_DELETE_ENABLED=true
STUDIO_ASSISTANT_ENROLLMENT_WRITES_ENABLED=true
